h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:cornflowerblue;
    text-shadow: 1px 1px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size:normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}